<a href="https://colab.research.google.com/github/shuvookd/Short_Dark_Triad/blob/main/Short_Dark_Triad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv("/content/SD3_data.csv")
df.head()

,M1,M2,M3,M4,M5,M6,M7,M8,M9,N1,...,P2,P3,P4,P5,P6,P7,P8,P9,country,source
0,4,4,4,4,4,4,4,3,4,2,...,4,3,2,4,4,4,4,4,GB,1
1,2,1,5,2,2,1,2,2,3,1,...,1,1,5,4,1,5,3,2,US,1
2,3,3,3,5,1,1,5,5,3,2,...,5,3,1,3,1,2,3,1,US,1
3,5,5,4,5,5,5,5,5,5,5,...,1,5,2,5,5,5,1,5,GB,3
4,4,4,2,5,5,5,4,1,4,3,...,5,3,1,4,3,5,4,1,GB,3

In [45]:
df.drop(columns = ['country','source'], inplace = True)
df.dropna(inplace = True)
df

,M1,M2,M3,M4,M5,M6,M7,M8,M9,N1,...,N9,P1,P2,P3,P4,P5,P6,P7,P8,P9
0,4,4,4,4,4,4,4,3,4,2,...,4,3,4,3,2,4,4,4,4,4
1,2,1,5,2,2,1,2,2,3,1,...,2,1,1,1,5,4,1,5,3,2
2,3,3,3,5,1,1,5,5,3,2,...,5,3,5,3,1,3,1,2,3,1
3,5,5,4,5,5,5,5,5,5,5,...,5,5,1,5,2,5,5,5,1,5
4,4,4,2,5,5,5,4,1,4,3,...,5,4,5,3,1,4,3,5,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18187,1,5,2,4,4,5,4,3,5,4,...,2,3,3,3,3,5,3,2,3,3
18188,5,4,5,4,5,4,5,4,5,4,...,3,3,2,2,1,5,2,2,3,4
18189,4,3,3,4,2,3,4,3,4,3,...,3,2,5,3,1,1,1,2,4,1
18190,5,4,3,3,4,4,4,3,4,3,...,4,4,3,3,4,4,3,4,1,3
18191,4,4,4,5,3,4,4,3,3,3,...,4,3,3,3,2,4,3,3,4,4

In [46]:
df.mean(axis = 'index')

M1    4.179035
M2    3.476913
M3    3.363017
M4    3.501704
M5    3.569536
M6    3.649516
M7    4.376649
M8    3.160400
M9    4.074263
N1    3.269459
N2    3.116260
N3    2.645998
N4    2.677001
N5    3.508300
N6    3.095207
N7    2.870767
N8    2.596636
N9    3.445086
P1    3.066018
P2    3.205310
P3    2.619888
P4    2.322889
P5    3.709213
P6    2.953881
P7    3.537104
P8    2.595921
P9    2.795954
dtype: float64

In [47]:
data = df.to_numpy()
print(data)

[[4 4 4 ... 4 4 4]
 [2 1 5 ... 5 3 2]
 [3 3 3 ... 2 3 1]
 ...
 [4 3 3 ... 2 4 1]
 [5 4 3 ... 4 1 3]
 [4 4 4 ... 3 4 4]]

In [48]:
m = data[:,0:9]
n = data[:,9:18]
p = data[:,18:27]
print(m)
print(n)
print(p)

[[4 4 4 ... 4 3 4]
 [2 1 5 ... 2 2 3]
 [3 3 3 ... 5 5 3]
 ...
 [4 3 3 ... 4 3 4]
 [5 4 3 ... 4 3 4]
 [4 4 4 ... 4 3 3]]
[[2 4 2 ... 2 3 4]
 [1 5 1 ... 1 5 2]
 [2 5 1 ... 1 5 5]
 ...
 [3 4 2 ... 2 4 3]
 [3 4 3 ... 4 4 4]
 [3 3 3 ... 4 4 4]]
[[3 4 3 ... 4 4 4]
 [1 1 1 ... 5 3 2]
 [3 5 3 ... 2 3 1]
 ...
 [2 5 3 ... 2 4 1]
 [4 3 3 ... 4 1 3]
 [3 3 3 ... 3 4 4]]

In [49]:
m_sum = pd.DataFrame(m)
print(m_sum.sum())
n_sum = pd.DataFrame(n)
print(n_sum.sum())
p_sum = pd.DataFrame(p)
print(p_sum.sum())

0    76025
1    63252
2    61180
3    63703
4    64937
5    66392
6    79620
7    57494
8    74119
dtype: int64
0    59478
1    56691
2    48136
3    48700
4    63823
5    56308
6    52225
7    47238
8    62673
dtype: int64
0    55777
1    58311
2    47661
3    42258
4    67478
5    53737
6    64347
7    47225
8    50864
dtype: int64